/*
картинки-заглушки
https://via.placeholder.com/150x100
*/

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  min-height: 100%;
}

.page-body {
  min-height: 100%;
  font-size: 18px;
  font-family: Geometria, Arial, Helvetica, sans-serif;
  background-color: #2c7580;
  color: #ccc;
  user-select: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*безопасное скрытие элемента*/
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.wrapper {
  position: relative;
  margin: 50px auto;
  min-width: 400px;
  width: 400px;
  min-height: 400px;
  border: 2px dashed gold;
}

.info {
  width: 100%;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 14px;
  z-index: 100;
  text-align: center;
  color: white;
}

.chip {
  position: absolute;
  width: 100px;
  height: 50px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  color: black;
  transition: top 1s, left 1s;
}

.active {
  outline: 4px dashed greenyellow;
  outline-offset: -4px;
}

.hide {
  transform: scale(0);
}

.error {
  background-color: red !important;
  color: white;
  animation-name: snake;
  animation-duration: 0.2s;
  animation-iteration-count: 4;
  animation-fill-mode: forwards;
}

@keyframes snake {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.shuffle {
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 100;
}
